#!python3.11 - mac os
python-dotenv

jupyter
scikit-learn==1.6.0
numpy
pandas
scipy
pymc
matplotlib
pyarrow
torch
torchvision
torchaudio

requests
regex

tokenizers
transformers
datasets
sacremoses
sentencepiece
importlib_metadata
tqdm
boto3

kagglehub
openai

evaluate
accelerate
sacrebleu

langchain-community
langchain-chroma
langchain-openai

bs4
pypdf

#unstructured
#python-libmagic
#pkgconfig
#cmake
#python-poppler
#pytesseract
#pandoc

langgraph

streamlit

pillow

moviepy

wandb

trl
peft